.vasilis{
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-light);

    position: absolute;
    top: 0rem;
   
}

.vasilis__picture{
    position: absolute;
    bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-height: 85%;
    width: auto;
}
