:root{
  --color-grey-dark:    #404040;
  --color-grey-light:   #aaa;
  --color-blue-light:   #11B3F1;
  --color-blue-dark:    #10A8E3;
  --color-yellow-light: #F1CB3B;
  --color-yellow-dark:  #E3BF38;
  --color-mint-light:   #00DDBF;
  --color-mint-dark:    #00D0B4;
  --color-red-light:    #FF4356;
  --color-red-dark:     #F03F51;
  --color-purple-light: #BD1CF0;
  --color-purple-dakr:  #B21AE2;


  --font-primary: 'Open Sans', sans-serif, 'Roboto';
  --font-logo: 'Times New Roman', Times, serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* So that 1rem = 10px (10px/16px (browsers default) = 62.5% -> 1rem = 10px */
  /* These two are used to keep the page in place while scrolling */
  height: 100%;
  overflow: hidden;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 2.3rem;
}

h4 {
  text-transform: uppercase;
  font-weight: 900;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.App {
  display: grid;
  grid-template-rows: [header-start] 7.6rem [header-end main-start] calc(100vh - 7.6rem) [main-end];
}

@media only screen and (max-width: 768px){
  .App {
    grid-template-rows: [header-start] 5rem [header-end main-start] calc(100vh - 5rem) [main-end];
  }
}