.main{
    position: relative;
    background-color: var(--color-blue-light);
    margin-left: 4rem;
    margin-right: 4rem;
}

.main__picture{
    position: absolute;
    bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 82rem;
    height: auto;
}

@media only screen and (max-width: 768px){
    .main{
        margin-left:    2rem;
        margin-right:   2rem;
    }
}

@media only screen and (max-width: 480px){
    .main{
        margin-left:    0rem;
        margin-right:   0rem;
    }
}