.about{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 45% 55%;

    justify-items: center;
    align-items: center;
}

/* Picture */
.about__picture{
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 2rem;
}

/* Text */
.about__text{
    margin: 2rem;
    z-index: 1;
}

.about__text-small-title{
    color: white;
    margin-bottom: 2rem;
}

.about__text-paragraph{
    color: white;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 4rem;
    font-size: 1.5rem;
}

/* MOVE ANIMATION */
/* appear - on page load*/
.move-appear {
    transform: translateY(3rem);
}

.move-appear-active{
    transform: translateY(0rem);
    transition: transform 400ms ease-in;
}

.move-enter {
    transform: translateY(3rem);
}
.move-enter-active {
    transform: translateY(0rem);
    transition: transform 400ms ease-in;
}
.move-exit {
    transform: translateY(0rem);;

}
.move-exit-active {
    transform: translateY(-3rem);
    transition: transform 400ms ease-in;
}


/* MEDIA QUERIES */
/* ------------- */
/* --- WIDTH --- */
@media only screen and (max-width: 768px),
       only screen and (max-height: 480px){
    .about{
        grid-template-columns: 70% 30%;
    }
    .about__picture{
        display: none;
    }
    .about::after{
        content: "";
        background-image: var(--about-background-picture);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;  
    }

    .about__text-small-title{
        margin-bottom: 1rem;
    }

    .about__text-paragraph{
        font-size: 1rem;
        margin-top: 2rem;
    }
}