.header{
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-container{
    align-self: flex-start;
    /* To center the middle item */
    width: 50%; 
    flex-shrink: 1; 
    display: flex; 
}

.logo{
    margin-left: 10rem;
    background-color: black;
    width: 12rem;
    height: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.logo__text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    z-index: 2;
}

.center_navigation{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-grey-dark);

    /* Each text item has a padding and a border-bottom. I use margin-bottom: 
        these two properties to center again the whole thing ( with the border) */
    margin-bottom: .6rem;
    flex-shrink: 0; 
}

.center_navigation__about,
.center_navigation__work{
    text-decoration: none;
    padding: .3rem;
    border-bottom: 3px solid var(--color-grey-light);
    transition: border-bottom .3s cubic-bezier(0,0,0,.3);
}

.center_navigation__about{
    margin-right: 2rem;
}

.center_navigation__work{
    margin-left: 2rem;
}

.center_navigation__about:hover,
.center_navigation__work:hover,
.headernav-active{
    border-bottom: 3px solid black;
}

.headernav-active{
    pointer-events: none;
    cursor: default;
}

.social{
    /* To center the middle item */
    width: 50%; 
    flex-shrink: 1; 
    display: flex; 
    flex-direction: row-reverse;
}
.social__linkedin,
.social__github{
    width: 2.1rem;
    height: auto;
    transition: opacity .2s ease-out;
}

.social__linkedin:hover,
.social__github:hover{
    opacity: 0.4;
}

.social__linkedin{
    margin-right: 5rem;
}

.social__github{
    margin-right: 2rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
    .social__linkedin{
        margin-right: 3rem;
    }
    
    .social__github{
        margin-right: 2rem;
    }
    
    .logo{
        margin-left: 5rem;
        width: 8rem;
        height: 8rem;
    }

    .logo__text{
        font-size: .9rem;
    }
}

@media only screen and (max-width: 480px){

    .social__linkedin,
    .social__github{
        width: 1.6rem;
        height: auto;
        transition: opacity .2s ease-out;
    }

    .social__linkedin{
        margin-right: 2rem;
    }
    
    .social__github{
        margin-right: 1.7rem;
    }
    
    .logo{
        margin-left: 1rem;
    }


    .center_navigation{
        font-size: 1.1rem; 
    }
}