/* .sidebar is the area that whole sidebar cover. It's purpose is
    so that when we hover on that area, the actual sidebar appears */
.sidebar, 
.sidebar__navigation{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    overflow: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Before hovering we can only see 40px of the navigation bar,
    that is only the numbers of our links */
.sidebar__navigation{
    width: 40px;
    background-color: rgba(0,0,0,.06);
    transition: all .3s cubic-bezier(0,0,0,.3);
}

/* This is the black part of the sidebar*/
.sidebar__navigation::before{
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.sidebar__navigation-list{
    font-size: 1.5rem;
    list-style: none;
    width: 100%;
    z-index: 1;
}

.sidebar__navigation-list-item a{
    box-sizing: border-box;
    color: var(--color-grey-light);
    padding: 13px 0 13px 10px;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    
    display: flex;
    align-items: center;
    justify-content: left;

    /* To change the text color on hover, more smoothly*/
    transition: color .5s cubic-bezier(0,0,0,1);
}

.list-number{
    color: white;
}

.list-text{
    margin-left: 30px;
}

/* ---- HOVER ANIMATION ---- */

/* Black Box */
.sidebar__navigation-list-item a::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background-color: black;
    z-index: -1;
    transition: all .3s cubic-bezier(0,0,0,.5);
}

/* WHEN HOVERED */
/* Cursor on hover */
.sidebar__navigation-list-item a:hover{
    color: white;
    cursor: pointer;
}

/* Black Box Animation */
.sidebar__navigation-list-item a:hover::before{
    width: 100%;
}

/* -------------------*/
/* WHEN LINK IS ACTIVE */
/* Cursor on hover */
.active{
    cursor: none;
    pointer-events: none;
}

/* We want only the sidebar items color to be white when active */
.sidebar__navigation-list-item .active {
    color: white;
}

/* Black Box Animation */
.active a::before{
    width: 100%;
}


/* ----------------------- */
/* SHOW SIDEBAR WHEN HOVER */
.sidebar:hover
.sidebar__navigation{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all .3s cubic-bezier(0,0,0,.5);
}

/* We need the black box of each list item to be the same width as the
    black part of the sidebar */
.sidebar:hover
.sidebar__navigation-list-item a::before{
    width: 280px;
}

/* All the black boxes of each list item should expand 100% on hover */
.sidebar:hover
.sidebar__navigation-list-item a:hover::before{
    width: 100%;
}

/* The black box of the active list item should be 100% fixed*/
.sidebar:hover
.active a::before{
    width: 100%;
}