.sidebar .sidebar__navigation{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar__navigation{
    background-color: rgba(0,0,0,.06);
}

.sidebar__navigation::before{
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.sidebar__navigation-list{
    font-size: 1.5rem;
    list-style: none;
    width: 100%;
    z-index: 1;
}

.sidebar__navigation-list-item a{
    box-sizing: border-box;
    color: var(--color-grey-light);
    padding: 13px 0 13px 10px;
    text-decoration: none;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: left;

    /* To change the text color on hover, more smoothly*/
    transition: color .5s cubic-bezier(0,0,0,1);
}

/* ---- HOVER ANIMATION ---- */

/* Black Box */
.sidebar__navigation-list-item a::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
    background-color: black;
    z-index: -1;
    transition: all .3s cubic-bezier(0,0,0,.5);
}

/* Cursor on hover */
.sidebar__navigation-list-item a:hover{
    color: white;
    cursor: pointer;
}

/* Black Box Animation */
.sidebar__navigation-list-item a:hover::before{
    width: 100%;
}

.list-number{
    color: white;
}

.list-text{
    margin-left: 30px;
}
